body {  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:black;
    background:lightred;
    font-weight:12;
}

title{
    font:Arial;
    font-size:30px;
}

p {
    font-size:1em;
    color:darkblue;
    font:Arial;
    text-align:center;
}

h1 {
    font:Arial;
    font-size:50px;
    text-align:center;
}
 
h2 {
    font:Arial;
    font-size:30px;
    text-align: center;
}

header { 
  width:1920px;
  height:540px; 
} 
table  {
  text-align: center;
}
th, td {
  border-bottom: 1px solid;
  text-align: center;
  padding: 15px;
}
