body {  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
    font-weight:12;
}

p {
    font-size:15px;
    color:#100;
}

h1 {
    font:Arial;
    font-size:50px;
}
 
h2 {
    font:Arial;
    font-size:22px;
}

header { 
  width:1920px;
  height:540px; 
} 

