body {  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
}

h1 {
    font:Arial;
    font-size:50px;
}
 
h3 {
    font:Arial;
    font-size:22px;
}

#header{
    width:960px;
    height:120px;
    background-image: url("kawhi.jpg");
}

