body {  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:black;
    background:lightred;
    font-weight:12;
}

title{
    font:Arial;
    font-size:30px;
}

p {
    font-size:1em;
    color:darkblue;
    font:Arial;
    text-align:center;
}

h1 {
    font:Arial;
    font-size:50px;
    text-align:center;
    text-decoration: overline;
}
 
h2 {
    font:Arial;
    font-size:30px;
    text-align: center;
}

header { 
  width:1920px;
  height:540px; 
} 

table  {
  text-align: center;
  color:darkblue;
}

th, td {
  border-bottom: 1px solid;
  text-align: center;
  padding: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.red {
  color:red;
}
ol {
    text-align:center;
}
li {
    text-align:center;
}
