body {  
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
    font-weight:12;
}
title{
    font:Arial;
    font-size:30px;
}
p {
    font-size:15px;
    color:#100;
    font:Arial
}

h1 {
    font:Arial;
    font-size:50px;
    text-align:center;
}
 
h2 {
    font:Arial;
    font-size:1em;
}

header { 
  width:1920px;
  height:540px; 
} 

